<% content_for :header_tags do %>
    <%= javascript_include_tag "plugin.js", :plugin => 'estimates' %>
<% end %>



<p><strong><%= l(:label_issue_estimates) %></strong></p>
<div class="autoscroll">
	<table id="estimate-entries" class="list time-entries">
		
		<thead>
			<tr>
				<th><a href= <%= issue_estimate_entries_path(@issue.id) + "?sort=spent_on" %> class="sort desc"><%= l(:label_date) %></a></th>
				<th><a href= <%= issue_estimate_entries_path(@issue.id) + "?sort=user%2Cspent_on%3Adesc" %> ><%= l(:field_user) %></a></th> 
				<th><a href= <%= issue_estimate_entries_path(@issue.id) + "?sort=activity,spent_on:desc" %> ><%= l(:field_activity) %></a></th>
				<th><a href= <%= issue_estimate_entries_path(@issue.id) + "?sort=hours%2Cspent_on"%> ><%= l(:label_estimate) %></a></th>
				<th><%= l(:field_comments) %></th>
				<th><%= l(:label_estimates_actions) %></th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<style type="text/css">
				.hidden{
					display: none;
				}
			</style>
			<script type="text/javascript">
			
			</script>
			<% @estimates.each do |entry| -%>
			
			<tr class="time-entry " 
				data-is-accepted="<%= entry.is_accepted %>" >

			<%= labelled_form_for entry,  :url => accept_issue_estimate_entry_path(entry.issue_id, entry.id) do -%>

			<%= hidden_field_tag 'back_url', url_for(params) %>

				<td>
					<%= entry.spent_on %>
				</td>
				<td>
					<%= User.find(entry.user_id ).name %>
				</td>
				<td>
					<%= Enumeration.find(entry.activity_id).name %>
				</td>
				<td>
					<%= entry.hours %>
				</td>
				<td>
					<%= entry.comments %>
				</td>
				<td>
					 <% if (entry.editable_by?(User.current)) || User.current.admin?  -%>
						 <% if !entry.is_accepted  -%>
							<input id="estimate_entry_hours" type="hidden" name="estimate_entry[is_accepted]"  size="6" type="text" value=1 >
						 	<%= button_tag l(:button_accept), :style => "background-color: #57a957; border-radius: 5px; color: white" %> 
						
						<% elsif (entry.updated_on.utc  > (Time.now - 60.seconds).utc) || User.current.admin?  %>
							<input id="estimate_entry_hours" type="hidden" name="estimate_entry[is_accepted]"  size="6" type="text" value=0 >
						 	<%= button_tag l(:button_cancel_estimate), :style => "background-color: #e37d7d; border-radius: 5px; color: white" %> 

						<% else %>
						<span style="color:#808080"><%= l(:label_estimation_is_accepted) %></span>						 	
						 <% end %>

    				<% end -%>
				</td>
				<td>
					<% if (entry.created_on.utc  > (Time.now - 60.seconds).utc) || User.current.allowed_to?(:edit_estimates, @project) ||  User.current.admin? %>
				        <%= link_to image_tag('edit.png'),  edit_estimate_entry_path(entry),
				                                           :title => l(:button_edit) %>
				        <%= link_to image_tag('delete.png'), estimate_entry_path(entry),
				                                             :data => {:confirm => l(:text_are_you_sure)},
				                                             :method => :delete,
				                                             :title => l(:button_delete) %>
				      	<% end %>
				</td>
				<% end %>
			
			</tr>
			<% end -%>
		</tbody>
	</table>
	
</div>
<input type="checkbox" name="show_accepted" id="accepted_estimates">
<label for="accepted_estimates"> <span style="text-decoration: underline"><%= l(:link_show_accepted_estimates) %></span></label> 

<%= link_to image_tag('estimate_clock_icon.png', :plugin => 'estimates') + l(:label_add_estimate), new_issue_estimate_entry_path(@issue)  %>
